name: Java CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_and_analyze:
    name: Build, Test & Analyze
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: 'java'

      - name: Build and run unit tests
        # Usamos 'verify' para garantir que os testes unitários rodem antes de empacotar
        run: mvn -B verify --file pom.xml

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar
          if-no-files-found: error

  e2e-tests:
    name: End-to-End Selenium Tests
    needs: build_and_analyze # Garante que este job só rode após o sucesso do build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: target/

      - name: Start application in background

        run: |
          nohup java -jar target/*.jar &
          sleep 15

      - name: Run Selenium tests

        run: mvn -B test-compile failsafe:integration-test failsafe:verify --file pom.xml

      - name: Stop application

        if: always()
        run: |
          pkill -f 'java -jar'
